
main {
  min-height: 100vh;
}
.gradient-background {
    z-index: -1;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    
    &__1 {
      background-image: linear-gradient(80deg, rgb(17, 8, 31) 30%, rgb(17, 4, 60));
    }
}
