//----------------------------------------------
// This file contains all application-wide Sass variables
//----------------------------------------------

//Regular Font family
//@type List
$title-font-stack : 'Fjalla One', sans-serif;
$content-font-stack : 'Cantarell', sans-serif;

//Color Pallette

$purple : hsla(314, 26%, 16%, 1);
$sunflower: hsla(50, 83%, 52%, 1);
$whiskey : hsla(24, 62%, 53%, 1);
$bouquet : hsla(318, 24%, 63%, 1);
$black : hsla(0, 0%, 0%, 1);

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

body {
	font-family: $content-font-stack;
	@include linearGradient($purple, $black);
}