@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./components/_logo.css";
@import "./components/_backgrounds.css";

.header-global {
  max-width: 105rem;
  width: 96%;
  left: 50%;
  transform: translateX(-50%);
}

article {
  max-width: 60rem;
  width: 90%;
  margin: 0 auto;
}

nav {
  transition: transform 1s ease-in-out;
}
.scrolled__down nav {transform: translateY(-150px)}
.scrolled__up nav {transform: translateY(0)}
